@import 'reset';
@import 'base/typography';
@import 'base/colors';
@import 'base/layout';
@import 'base/interactive';
@import 'base/animations';

@import 'components/app';
@import 'components/header';
@import 'components/nav';
@import 'components/tiles';
@import 'components/projects';
@import 'components/footer';
@import 'components/socialmedia';
@import 'components/intro';
@import 'components/sidenav';
