@import 'reset';
@import 'base/typography';
@import 'base/colors';
@import 'base/layout';
@import 'base/interactive';
@import 'base/animations';

@import 'components/app';
@import 'components/socialmedia';
@import 'components/intro';
@import 'components/projects';
