@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes movingClouds {
  0% {
    transform: translateX(-10vw);
  }

  100% {
    transform: translateX(100vw);
  }
}
