$color--primary: #E6A8FF;
$color--secondary: #F7F1E6;
$color--hover: #B63CFF;
$color--text: #465451;
// #F7F1E6
// #4CE0B3
// #E55381
// #FF9856
// #CE53FF
$theme1: (
  primary: #C60F7B,
  secondary: #D6D1CD,
  bg: #E5ECE9
);
