.section {
  display: flex;
  flex-direction: column;
  transition: .7s;
  margin-bottom: 3rem;
  padding: 0 5%;

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: 'Roboto', sans-serif;

    li {
      border-bottom: 2px solid lighten($color--primary, 10%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &:first-child {
        border-top: 2px solid lighten($color--primary, 10%);
      }

      .date {
        display: flex;
        align-items: center;
        color: rgba(black, .25);
        padding-right: 1rem;
        font-size: .875rem;
      }

      .arrow {
        width: 20px;
        margin-left: 1rem;
      }

      .title {
        width: 100%;
        text-decoration: none;
        color: black;
        font-size: 1rem;
        padding: 1.5rem 1rem;
        letter-spacing: .5px;
      }

      @for $i from 4 to 9 {
        &:nth-child(#{$i}) {
          display: none;
        }
      }

      &:hover {
        background-color: $color--secondary;
        border-bottom: 2px solid transparent;

        &:first-child {
          border-top: 2px solid transparent;
        }
      }

      &.hideBorder {
        border-bottom: 2px solid transparent;
      }
    }
  }

  &__btn {
    align-self: flex-end;
    color: black;
    font-size: 1rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
  }

  &__heading {
    font-size: 1.5rem;
    font-weight: 200;
    padding-bottom: 1.25rem;
  }
}
