.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  padding-bottom: 8rem;
}

.about__info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;

  a {
    text-decoration: none;
    color: $color--hover;
    transition: .3s ease;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-family: 'Lato';
    font-size: 20px;
    line-height: 1.5;
    flex: 1;
  }

  h2 {
    margin-top: 2rem;
    font-size: 24px;
  }

  ul {
    margin-left: 1.25rem;
    margin-top: 1rem;
    margin-right: 4rem;
    font-size: 20px;

    li {
      margin: .5rem 0;
    }
  }

  .list {
    display: flex;
    align-items: flex-start;
  }
}
