.blog {
  width: 100%;
}

.blog__container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.blog-sidebar {
  width: 270px;
  height: 100vh;
  background-color: #232327;
  padding: 3rem 2.5rem;
  position: fixed;
  top: 0;
  left: 0;

  * {
    font-family: 'Lato';
  }

  .main-link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 2rem;
    font-weight: 700;
    letter-spacing: .5px;
    opacity: .9;
  }

  h3 {
    margin-top: 2rem;
    font-size: 14px;
    text-transform: lowercase;
    color: whitesmoke;
    font-weight: 700;
    opacity: .9;
    letter-spacing: .5px;
    display: none;
  }

  ul {
    list-style: none;
    margin-top: 1.5rem;

    li {
      color: #6A6F71;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 1rem;
    }
  }
}

.blog-posts {
  width: calc(100% - 250px);
  padding: 0;
  margin-left: 270px;
}

.blog-post {

  &__header {
    height: 400px;
    width: 100%;
    background-size: cover;
    margin-bottom: 4rem;
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 400px;
      background-color: rgba(0, 0, 0, .5);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  h1 {
    font-size: 40px;
    margin-bottom: 2rem;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    width: 100%;
    text-align: center;
    padding-bottom: 1.5rem;
    position: relative;
    color: #3E3E42;

    &:after {
      content: '';
      width: 70px;
      height: 3px;
      display: block;
      background-color: $color--primary;
      position: absolute;
      left: 45%;
      bottom: 0;
    }
  }

  &__content {
    margin-top: 4rem;
    padding: 0 5rem;
  }

  &__content p {
    font-family: 'Source Sans Pro';
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, .7);
  }

  &__ingress {
    font-family: 'Droid Serif';
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, .5);
    font-weight: 300;
  }
}
