$sidebar-bg: white;
$logo-color: #333;
$link-colors: #6A6F71;
$sidebar-width: 250px;
$purple: #8857E4;
$blue: #50DCF5;
$padding: 0 15%;
$padding--small: 0 8%;

$bp-1: 960px;
$bp-2: 730px;
$bp-3: 460px;

@import 'blog-header';
@import 'blog-post';
@import 'blog-sidebar';

.blog {
  width: 100%;
}

.blog__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.blog-sidebar__btn {
  width: 50px;
  height: 50px;
  padding-left: .7rem;
  border: none;
  background: $purple;
  cursor: pointer;
  transition: .2s ease-in-out;

  &:hover {
    background: $blue;
  }

  &:focus {
    outline: none;
  }

  .line {
    width: 25px;
    height: 2px;
    margin: 4px 0;
    background-color: white;
    display: block;
    transition: all 0.2s ease-in-out;
  }

  &.is-active {
    padding-left: .9rem;
  }

  &.is-active .line:nth-child(2){
    width: 0px;
  }

  &.is-active .line:nth-child(1),
  &.is-active .line:nth-child(3){
    transition-delay: 0.1s;
    width: 20px;
  }

  &.is-active .line:nth-child(1){
    transform: translateY(5px) rotate(40deg);
  }

  &.is-active .line:nth-child(3){
    transform: translateY(-7px) rotate(-40deg);
  }
}

.blog-posts {
  width: 100%;
  margin-left: 0;
  transition: .2s ease-in-out;
  margin-top: 50px;

  &.is-expanded {
    width: calc(100% - 250px);
    padding: 0;
    margin-left: $sidebar-width;

    @media all and (max-width: $bp-1) {
      width: 100%;
      margin-left: 0;
    }
  }
}
