.codepens {
  padding-bottom: 8rem;

  @media all and (max-width: 600px) {
    display: none;
  }
}

.codepens .projects__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1800px;
}

.codepen {
  list-style: none;
  width: 100%;
  height: 300px;
  margin-right: 1rem;
  margin-bottom: 1rem;

  @media all and (min-width: 840px) {
    width: calc(50% - 1rem);
  }

  @media all and (min-width: 1200px) {
    width: calc(33% - 1rem);
  }
}
