.contact {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 5% 7rem;
  background-color: $color--secondary;

  h2 {
    font-family: 'Lato';
    margin: 3rem 0 4rem;
    font-size: 40px;
  }

  form {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    label {
      font-size: 1.25rem;
      font-family: 'Roboto';
    }
  }
}
