.footer {
  height: 7rem;
  background-color: $color--secondary;
  width: 100%;
  padding: 2rem;
  margin-top: 5rem;

  h3 {
    font-weight: 400;
    font-size: .875rem;
    margin-bottom: .25rem;
  }

  a {
    color: black;
    transition: .3s;

    &:hover {
      color: $color--hover;
    }
  }
}
