.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;

  &__info {
    cursor: pointer;

    &:hover {

      h1 {
        color: $color--hover;
      }
    }

    h1,
    h3 {
      font-family: 'Lato';
    }

    h1 {
      margin-top: .5rem;
      font-size: 1.25rem;
      letter-spacing: .5px;
      font-weight: 800;
    }

    h3 {
      font-size: .75rem;
      font-weight: 200;
      letter-spacing: .5px;
    }
  }

  .logo {
    position: relative;
    padding: 2rem 6rem 2rem 2rem;

    &:hover {
      span {
        transform: translateX(0);
        transition: transform .3s ease-in-out;
        opacity: 1;
      }

      h3 {
        top: 0;
        color: $color--hover;

        &:first-child {
          top: 0;
          left: 3px;
        }

        &:nth-child(2) {
          top: 0;
          left: 51px;
       }

        &:first-child {

          &:after {
            transform: rotate(0);
            width: 176px;
            left: 0px;
            top: 35px;
            background-color: $color--hover;
          }
        }
      }
    }

    h3 {
      font-size: 1.25rem;
      font-family: 'Roboto';
      font-weight: 200;
      display: flex;
      align-items: flex-end;
      position: absolute;
      top: 0;
      left: 0;

      &:first-child {
        top: 2px;
        left: 3px;
      }

      &:nth-child(2) {
        top: 20px;
        left: 30px;
      }

      span {
        transform: translateX(-500%);
        opacity: 0;
      }

      &:first-child {

        &:after {
          content: '';
          display: block;
          background-color: black;
          height: 1px;
          width: 45px;
          position: absolute;
          top: 25px;
          left: 0px;
          transform: rotate(-48deg);
          transition: .4s;
        }
      }
    }
  }
}
