.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;

  &__info {
    cursor: pointer;

    &:hover {

      h1 {
        color: $color--hover;
      }
    }

    h1,
    h3 {
      font-family: 'Lato';
    }

    h1 {
      margin-top: .5rem;
      font-size: 1.25rem;
      letter-spacing: .5px;
      font-weight: 800;
    }

    h3 {
      font-size: .75rem;
      font-weight: 200;
      letter-spacing: .5px;
    }
  }
}
