.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;

  .ill {
    position: relative;
    transition: 1s;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100%;
    background-image: linear-gradient(transparent 90%, $color--primary 0);

    .building {
      width: 5.5rem;
      fill: $color--primary;
      position: absolute;
      bottom: 20px;
      left: 65.8%;
      z-index: 4;
    }

    .skyline {
      width: 100%;
      z-index: 1;
      position: absolute;
      bottom: 20px;
      left: 270px;
      // right: 0;
      fill: $color--primary;
    }

    &.move {
      transform: translateX(8px);
    }
  }



  .triangle {
    width: 50vw;
    height: 40vh;
    background-color: $color--primary;
    clip-path: polygon(50% 21%, 0 100%, 100% 100%);
    position: absolute;
    bottom: 0;
    left: -100px;
    z-index: 1;
    transition: .6s;

    &.move {
      transform: translateX(-5px);

      &--left {
        transform: translateX(10px);
      }
    }

    &-right {
      width: 70vw;
      height: 60vh;
      background-color: lighten($color--primary, 5%);
      clip-path: polygon(50% 21%, 0 100%, 100% 100%);
      position: absolute;
      bottom: 0;
      right: -100px;
      z-index: 3;
      transition: 1.2s;

      &.move {
        transform: translateX(-20px);

        &--left {
          transform: translateX(5px);
        }
      }
    }
  }

  .cloud {
    width: 10rem;
    z-index: 2;
    position: absolute;
    bottom: 12rem;
    transform: translateX(-100vw);

    &--first {
      animation: movingClouds 40s linear 1s infinite;
      bottom: 10rem;
    }

    &--second {
      animation: movingClouds 30s linear 2s infinite;
    }

    &--third {
      animation: movingClouds 20s linear infinite;
      bottom: 15rem;
    }

    path {
      fill: rgba($color--secondary, 1);
    }
  }

  h1, p {
    padding-left: 8rem;
  }

  h1 {
    margin-top: 10rem;
    font-size: 5.5rem;
    margin-bottom: 1rem;
    color: black;
    font-family: 'Karla';
    letter-spacing: -3px;
  }

  p {
    -webkit-font-smoothing: antialiased;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    margin-left: .4rem;
    font-family: 'Lato';
    color: #212121;
    line-height: 1.5;

    a {
      color: $color--hover;
      text-decoration: none;
      position: relative;
      z-index: 2;
      background-image: linear-gradient(180deg, transparent 75%, $color--secondary 0);
      background-size: 0 100%;
      background-repeat: no-repeat;
      transition: all .4s ease;
      font-weight: 400;

      &:hover {
        background-size: 100% 100%;
      }
    }
  }

  .arrow {
    display: none;
    justify-content: center;
    width: 100%;
    margin-left: -5%;
    position: absolute;
    bottom: 3.5rem;

    svg {
      width: 4rem;
      height: 4rem;
      animation: pulse 1s infinite;
    }

    g {
      fill: transparent;
    }
  }
}
