.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;
  border-bottom: 0;
  overflow: hidden;

  .footer {
    display: none;
  }

  .bold {
    font-weight: 700;
  }

  @media all and (max-width: 550px) {
    height: 100vh;
    border-bottom: 80px solid $color--primary;
  }

  .ill {
    transition: 1s;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(transparent 90%, $color--primary 0);

    .skyline {
      width: 100%;
      z-index: 1;
      position: absolute;
      bottom: 20px;
      left: 270px;
      fill: $color--primary;
      transition: .3s;
    }

    &.move {
      transform: translateX(8px);
    }

    @media all and (max-width: 780px) {
      background-image: linear-gradient(transparent, transparent);

      .building {
        width: 50%;
        bottom: 0;
      }

      .skyline {
        width: 150%;
        left: 0;
        bottom: 0;
      }
    }
  }

  .cloud {
    width: 10rem;
    z-index: 2;
    position: absolute;
    bottom: 12rem;
    transform: translateX(-100vw);
    transition: .3s;

    &--first {
      animation: movingClouds 35s linear infinite;
      bottom: 10rem;
    }

    &--second {
      animation: movingClouds 30s linear 4s infinite;
    }

    &--third {
      animation: movingClouds 25s linear 10s infinite;
      bottom: 15rem;
    }

    path {
      fill: rgba($color--secondary, 1);
    }

    @media all and (max-width: 700px) {
      width: 7rem;
      bottom: 6rem;

      &--first {
        bottom: 4rem;
      }

      &--third {
        display: none;
      }
    }
  }

  h1, p {
    padding-left: 10%;
    padding-right: 10%;

    @media screen and (min-width: 980px) {
      padding-left: 8rem;
    }

    @media screen and (max-width: 550px) {
      padding: 0 5%;
    }
  }

  h1 {
    margin-top: 10rem;
    font-size: 5.5rem;
    margin-bottom: 1rem;
    color: black;
    font-family: 'Lato';
    letter-spacing: -3px;
    transition: .3s;

    @media screen and (max-width: 550px) {
      font-size: 3.5rem;
      margin-top: 5rem;
    }
  }

  p {
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-family: 'Lato';
    color: #212121;
    margin-bottom: 1.5rem;
    margin-left: .4rem;
    font-size: 1.3rem;
    margin-top: 0;
    max-width: 900px;
    line-height: 1.5;

    @media screen and (max-width: 845px) {
      max-width: 800px;
    }

    a {
      color: $color--hover;
      text-decoration: none;
      position: relative;
      z-index: 2;
      background-image: linear-gradient(180deg, transparent 70%, $color--secondary 0);
      background-size: 0 100%;
      background-repeat: no-repeat;
      transition: all .4s ease;
      font-weight: 400;
      padding: .125rem;

      &:hover {
        background-size: 100% 100%;
      }

      &:focus {
        background-color: $color__primary;
        color: #383838;
        outline: none;
      }
    }
  }
}

.links {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.blog-link {
  z-index: 5;
  // position: absolute;
  // top: 2rem;
  // right: 2rem;
  margin-left: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 18px;
  transition: .3s ease;

  &:hover {
    color: $color--hover;
  }
}
