.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(white 75%, $color--primary 0);
  padding: 0 5%;
  color: #465451;

  h1 {
    margin-top: 4rem;
    font-size: 6rem;
    margin-bottom: 1rem;
    color: darken(#465451, 5%);
  }

  h3 {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    font-family: 'Roboto';
    letter-spacing: 1px;
    line-height: 1.5;

    a {
      color: #465451;
      text-decoration: none;
      position: relative;
      z-index: 2;
      background-image: linear-gradient(180deg, transparent 75%, rgba($color--secondary, .5) 0);
      background-size: 0 100%;
      background-repeat: no-repeat;
      transition: all .4s ease;
      font-weight: 400;

      &:hover {
        background-size: 100% 100%;
      }
    }
  }

  .arrow {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -5%;
    position: absolute;
    bottom: 3.5rem;

    svg {
      width: 4rem;
      height: 4rem;
      animation: pulse 1s infinite;
    }

    g {
      fill: transparent;
    }
  }
}
