.nav {
  font-family: 'Lato', sans-serif;
  display: flex;

  ul {
    display: flex;
    list-style: none;
    font-size: .875rem;
    padding-top: .5rem;

    li:not(.social-media__btn) {
      margin: 0 1rem;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $color--primary;
      }

      &.active {
        color: $color--primary;
      }
    }
  }
}
