.projects {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 7rem;
  font-family: 'Roboto', sans-serif;
  padding: 0 5%;
  opacity: 0;
  // transition: .5s;

  &.expand {
    opacity: 1;
  }

  @media all and (max-width: 550px) {
    margin-top: 3rem;
    margin-bottom: 4rem;
    transform: scale(1);
  }

  .section__heading {
    margin-left: 1.5%;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .tile {
    width: 31%;
    height: 300px;
    margin: 1%;
    text-align: center;
    background-color: $color--primary;
    transition: background-color .3s;
    background-size: cover;
    background-position-x: -10px;

    @media all and (max-width: 1163px) {
      width: 48%;
    }

    @media all and (max-width: 600px) {
      width: 100%;
      margin-bottom: 1rem;
    }

    &:hover {
      background-color: $color--primary;
    }

    h1 {
      font-size: 1.7rem;
    }
  }

  &__filter {
    list-style: none;
    display: flex;
    margin-left: 1%;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    li button {
      padding: .5rem 1rem;
      background-color: $color__secondary;
      margin-right: .25rem;
      margin-top: .25rem;
      border: none;
      font-size: 1rem;
      font-family: inherit;
      cursor: pointer;
      transition: .3s ease-in-out;

      @media screen and (max-width: 600px) {
        font-size: 1.25rem;
      }

      &:hover,
      &:focus {
        background-color: $color__primary;
      }

      &:focus {
        outline: none;
      }

      &.selected {
        background-color: $color__primary;
      }
    }
  }
}

.example-enter {
  opacity: 0.5;
  transition: .3s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: .3s ease-in;
}

.example-leave {
  opacity: 1;
  transition: .3s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.5;
  transition: .3s ease-in;
}

.example-appear {
  opacity: 0.2;
  transition: .3s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}
