.projects {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 7rem;
  font-family: 'Roboto', sans-serif;
  padding: 0 5%;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .tile {
    margin-right: 1rem;
    background-color: $color--primary;

    &:last-child {
      margin-right: 0;
    }
  }
}
