.projects {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 7rem;
  font-family: 'Roboto', sans-serif;
  padding: 0 5%;
  opacity: 0;
  transition: .5s;

  &.expand {
    opacity: 1;
  }

  @media all and (max-width: 550px) {
    margin-top: 3rem;
    margin-bottom: 4rem;
    transform: scale(1);
  }

  .section__heading {
    margin-left: 1.5%;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .tile {
    width: 31%;
    height: 300px;
    margin: 1%;
    text-align: center;
    background-color: $color--secondary;
    transition: .3s;

    @media all and (max-width: 1163px) {
      width: 48%;
    }

    @media all and (max-width: 600px) {
      width: 100%;
      margin-bottom: 1rem;
    }

    &:hover {
      background-color: $color--primary;
    }

    h1 {
      font-size: 1.7rem;
    }
  }
}
