.projects {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 7rem;
  font-family: 'Roboto', sans-serif;
  padding: 0 5%;

  .section__heading {
    margin-left: 1.5%;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .tile {
    width: 23%;
    height: 23%;
    margin: 1%;
    background-color: $color--secondary;

    &:hover {
      background-color: $color--primary;
    }

    h1 {
      font-size: 1.7rem;
    }

    span {
      font-size: 1rem;
    }
  }
}
