.sidenav {
  position: fixed;
  right: 0;
  top: 13rem;
  z-index: 10;
  transition: .4s ease-in-out;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    transition: .4s ease-in-out;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);

    li {
      -webkit-font-smoothing: antialiased;
      width: 15rem;
      padding: 1rem;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      font-family: 'Karla';
      font-size: .75rem;
      font-weight: 400;
      padding-left: 1rem;
      transition: background-color .3s ease-in-out;

      &:not(:first-child) {
        margin-top: -1px;
      }

      &:hover {
        background-color: $color--primary;
      }
    }
  }

  &.hidden {
    height: auto;
    top: 0;
    width: 100%;
    z-index: 10;

    ul {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;

      li {
        text-align: center;
        width: 25%;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        font-size: .9rem;

        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }
  }

  .logo {
    transform: translate(185px, -70px);

    &:hover {
      span {
        transform: translateX(0);
        transition: transform .3s ease-in-out;
        opacity: 1;
      }

      h3 {
        top: 0;
        color: $color--hover;

        &:first-child {
          top: 0;
          left: 3px;
        }

        &:nth-child(2) {
          top: 0;
          left: 51px;
       }

        &:first-child {

          &:after {
            transform: rotate(0);
            width: 176px;
            left: 0px;
            top: 35px;
            background-color: $color--hover;
          }
        }
      }
    }

    h3 {
      font-size: 1.25rem;
      font-family: 'Roboto';
      font-weight: 200;
      display: flex;
      align-items: flex-end;
      position: absolute;
      top: 0;
      left: 0;

      &:first-child {
        top: 2px;
        left: 3px;
      }

      &:nth-child(2) {
        top: 20px;
        left: 30px;
      }

      span {
        transform: translateX(-500%);
        opacity: 0;
      }

      &:first-child {

        &:after {
          content: '';
          display: block;
          background-color: black;
          height: 3px;
          width: 40px;
          position: absolute;
          top: 24px;
          left: 3px;
          transform: rotate(-46deg);
          transition: .4s;
        }
      }
    }
  }
}
