.sidenav {
  position: fixed;
  right: 0;
  top: 11rem;
  height: 10rem;
  z-index: 4;
  display: flex;
  flex-direction: column;

  p {
    -webkit-font-smoothing: antialiased;
    transform: translateX(78%);
    margin: .5rem 0 .75rem 1rem;
    font-family: 'Karla';
    font-size: .875rem;
    font-weight: 400;
    color: $color--hover;
    display: none;
  }

  ul {
    list-style: none;
    transform: translateX(78%);
    transition: .4s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: translateX(0);

      li {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding-left: 1rem;
      }
    }

    li {
      -webkit-font-smoothing: antialiased;
      width: 15rem;
      padding: 1rem;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      font-family: 'Karla';
      font-size: .75rem;
      font-weight: 400;
      padding-left: 5rem;
      transition: .4s ease-in-out;

      &:not(:first-child) {
        margin-top: -1px;
      }

      &:hover {
        background-color: $color--primary;
      }
    }
  }

  .logo {
    transform: translate(185px, -70px);

    &:hover {
      span {
        transform: translateX(0);
        transition: transform .3s ease-in-out;
        opacity: 1;
      }

      h3 {
        top: 0;
        color: $color--hover;

        &:first-child {
          top: 0;
          left: 3px;
        }

        &:nth-child(2) {
          top: 0;
          left: 51px;
       }

        &:first-child {

          &:after {
            transform: rotate(0);
            width: 176px;
            left: 0px;
            top: 35px;
            background-color: $color--hover;
          }
        }
      }
    }

    h3 {
      font-size: 1.25rem;
      font-family: 'Roboto';
      font-weight: 200;
      display: flex;
      align-items: flex-end;
      position: absolute;
      top: 0;
      left: 0;

      &:first-child {
        top: 2px;
        left: 3px;
      }

      &:nth-child(2) {
        top: 20px;
        left: 30px;
      }

      span {
        transform: translateX(-500%);
        opacity: 0;
      }

      &:first-child {

        &:after {
          content: '';
          display: block;
          background-color: black;
          height: 3px;
          width: 40px;
          position: absolute;
          top: 24px;
          left: 3px;
          transform: rotate(-46deg);
          transition: .4s;
        }
      }
    }
  }
}
