.sidenav {
  position: fixed;
  right: 0;
  top: 11rem;
  z-index: 10;
  transition: .3s;
  display: flex;
  justify-content: space-between;

  h1 {
    font-weight: 200;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    letter-spacing: 2px;
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    transition: .3s;
    cursor: pointer;

    & > li {
      -webkit-font-smoothing: antialiased;
      width: 11rem;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      font-family: 'Karla';
      font-size: .75rem;
      font-weight: 400;
      padding-left: 1rem;
      transition: background-color .3s ease-in-out;
      background-color: white;

      & > a {
        padding: 1rem 0;
        width: 100%;
        display: block;
        text-decoration: none;
        color: black;
      }

      &:not(:first-child) {
        margin-top: -1px;
      }

      &:hover,
      &.active {
        background-color: $color--primary;
      }

      &:last-child {
        padding: .75rem 1rem;
        border-bottom: 0;
        background-color: transparent;


        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  &.top {
    height: auto;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,.2);
    justify-content: space-between;

    .menu {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      background-color: white;
      width: 100%;

      & > li {
        text-align: center;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        font-size: .9rem;
        width: auto;
        padding-left: 0;

        & > a {
          padding: 1rem;
        }

        &:not(:first-child) {
          margin-top: 0;
        }

        &:last-child {
          padding: .75rem 1rem;
          border-bottom: 0;
          background-color: transparent;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }

  @media all and (max-width: 980px) {
    height: auto;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0);

    .menu {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      background-color: white;
      width: 100%;

      & > li {
        text-align: center;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        font-size: .9rem;
        width: auto;
        padding-left: 0;

        & > a {
          padding: 1rem;
        }

        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }
  }

  @media all and (max-width: 752px) {
    display: none;
  }
}
