.social-media {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;

  &__btn {
    margin-right: 1rem;
    transition: .3s ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    svg {
      width: 1.4rem;
      transition: .2s ease-in-out;
    }

    &:hover {
      transform: scale(1.1);
    }

    & a:focus {
      outline: none;

      svg {
        transform: scale(1.2);
      }
    }
  }
}
