.social-media {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding-top: .5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  z-index: 5000;
  width: 100%;
  justify-content: space-between;

  @media screen and (min-width: 550px) {
    padding: 0 10%;
    justify-content: flex-start;
  }

  @media screen and (min-width: 980px) {
    padding-left: 8rem;
  }

  &__btn {
    transition: .3s ease-in-out;
    margin-right: .5rem;
    width: 3rem;

    @media all and (min-width: 550px) {
      width: 1.75rem;
      margin-right: 1rem;
    }

    &:last-child {
      margin-right: 0;
    }

    svg {
      width: 100%;
      transition: .2s ease-in-out;

      @media all and (min-width: 550px) {
        width: 1.75rem;
        margin: 0;
      }
    }

    &:hover {
      transform: scale(1.1);
    }

    & a:focus {
      outline: none;

      svg {
        transform: scale(1.2);
      }
    }
  }
}
