.social-media {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding-top: .5rem;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 5000;

  @media screen and (min-width: 980px) {
    padding-left: 8rem;
  }

  @media screen and (max-width: 550px) {
    padding: 0 5%;
  }

  &__btn {
    margin-right: 1rem;
    transition: .3s ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    svg {
      width: 1.75rem;
      transition: .2s ease-in-out;
    }

    &:hover {
      transform: scale(1.1);
    }

    & a:focus {
      outline: none;

      svg {
        transform: scale(1.2);
      }
    }
  }
}
