.tiles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding: 5%;
}

.tile {
  width: 32.5%;
  height: 300px;
  background-color: $color--primary;
  color: black;
  padding: 5rem 3rem;
  text-decoration: none;
  margin: 0 1% 1% 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  transition: .3s ease-in-out;
  flex-direction: column;

  &__label {
    text-transform: uppercase;
    font-size: .775rem;
  }

  &__heading {
    font-weight: 400;
    font-size: 2rem;
    padding-top: .5rem;
  }

  &.pagelink {
    background-color: $color--secondary;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $color--primary;
    }
  }

  &.double {
    width: 66.5%;
  }

  &.centered {
    align-items: center;
    justify-content: center;

    .tile__label {
      order: 2;
      text-transform: capitalize;
      font-size: 1rem;
      padding-top: .5rem;
    }
  }

  &:nth-child(2),
  &:nth-child(5) {
    margin-right: 0;
  }

  &:hover {
    background-color: $color--secondary;
  }
}
