.tiles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding: 5%;

  @media all and (max-width: 600px) {
    flex-direction: column;
  }
}

.tile {
  width: 32.5%;
  height: 300px;
  background-color: $color--primary;
  color: black;
  padding: 2rem 2rem;
  text-decoration: none;
  margin: 0 1% 1% 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  transition: .3s ease-in-out;
  overflow: hidden;

  &:hover,
  &:focus {

    .tile__info {
      transform: translateY(10%);
    }

    .tile__view-more {
      transform: translateY(0);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(50%);
    transition: .4s ease-in-out;
  }

  &__view-more {
    text-decoration: none;
    color: black;
    padding: .75rem 1rem;
    border: 2px solid black;
    background-color: $color__primary;
    margin-top: 2rem;
    align-self: center;
    transform: translateY(300%);
    transition: .4s ease-in-out;

    &:hover {
      background-color: $color__secondary;
    }
  }

  &__label {
    text-transform: uppercase;
    font-size: .775rem;
  }

  &__heading {
    font-weight: 400;
    font-size: 2.5rem;
  }

  &__desc {
    padding-top: .5rem;
    text-align: center;
    font-size: .875rem;

    @media all and (max-width: 600px) {
      font-size: 1rem;
    }
  }

  &.pagelink {
    background-color: $color--secondary;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $color--primary;
    }
  }

  &.double {
    width: 66.5%;
  }

  &.centered {
    align-items: center;
    justify-content: center;

    .tile__label {
      text-transform: capitalize;
      font-size: 1rem;
      display: none;
    }
  }

  &:nth-child(2),
  &:nth-child(5) {
    margin-right: 0;
  }

  &:hover {
    background-color: $color--secondary;
  }
}
