$text-color: black;

.tiles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding: 12% 5% 8%;
  background-image: linear-gradient($color--primary 10%, white 0);
}

.tile {
  width: 32.5%;
  height: 300px;
  background-image: linear-gradient($color--text 20%, white 0);
  border: 3px solid $color--text;
  color: $color--text;
  padding: 5rem 1.25rem;
  text-decoration: none;
  margin: 0 1% 1% 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  transition: .3s ease-in;
  position: relative;
  flex-direction: column;

  &__label {
    text-transform: uppercase;
    font-size: .875rem;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
  }

  &__heading {
    font-weight: 300;
    font-size: 1.75rem;
    padding-left: 3rem;
  }

  &.pagelink {
    background-color: transparent;
    border: 2px solid $text-color;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $color--primary;
    }
  }

  &.double {
    width: 66.5%;
  }

  &.centered {
    align-items: center;
    justify-content: center;

    .tile__label {
      order: 2;
      text-transform: capitalize;
      font-size: 1rem;
      padding-top: .5rem;
    }
  }

  &:nth-child(2),
  &:nth-child(5) {
    margin-right: 0;
  }

  &:hover {
    background-color: $text-color;
    color: $color--primary;
  }
}
